{% extends 'home/base.html' %}
{% block title %}Homeインデックス{% endblock %}

{% block dashboard %}
    <a href="#" class="list-group-item list-group-item-action active">
        <img src="/static/bootstrap-icons/icons/layout-text-window-reverse.svg" alt="" width="18" height="18"/>
        　ダッシュボード
    </a>
{% endblock %}

{% block todo_menu %}
    <a href="{{url_for('todo.todo_index')}}" class="list-group-item list-group-item-action">
        <img src="/static/bootstrap-icons/icons/shop.svg" alt="" width="18" height="18"/>
        　Todo
    </a>
{% endblock %}

{% block api_menu %}
    <a href="#" class="list-group-item list-group-item-action">
        <img src="/static/bootstrap-icons/icons/diagram-3.svg" alt="" width="18" height="18"/>
        　Todo API
    </a>
{% endblock %}

{% block admin_menu %}
    <a href="#" class="list-group-item list-group-item-action">
        <img src="/static/bootstrap-icons/icons/person-plus.svg" alt="" width="18" height="18"/>
        　顧客管理
    </a>
{% endblock %}

{% block email_menu %}
    <a href="#" class="list-group-item list-group-item-action">
        <img src="/static/bootstrap-icons/icons/envelope.svg" alt="" width="18" height="18"/>
        　メール
    </a>
{% endblock %}

{% block drill %}
    <a href="#" class="list-group-item list-group-item-action">
        <img src="/static/bootstrap-icons/icons/person-check.svg" alt="" width="18" height="18"/>
        　演習
    </a>
{% endblock %}

{% block login %}
    <a href="#" class="list-group-item list-group-item-action">
        <form class="" method="get" action="/login">
            <img src="/static/bootstrap-icons/icons/person.svg" alt="" width="18" height="18"/>
            <button class="btn btn-outline-primary" type="submit">ログイン</button>
        </form>
    </a>
{% endblock %}

{% block center %}
    <div class="col-lg-7 border order-2">
        <br/>
        Todoは  件
        <div class="card card-default">
            {% for user in users %}
            {{ user.id }}/{{ user.name }}<br/>
            {% endfor %}<br/>

            {% for adr in addresses %}
            {{ adr.address }}/{{ adr.user_id }}<br/>
            {% endfor %}<br/>

            {% for dt in dts %}
            {{ dt.User.id}}/{{ dt.User.name}}/{{ dt.Address.address }}<br/>
            {% endfor %}<br/>
        </div>
    </div>
{% endblock %}